*{
    
    margin:0px;
    padding:0px;
   

}
#container{
     width:100%;
     height:100vw;
     background-image:url("/static/bg-images/bg2.jpg");
     background-repeat:no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
    
     
     
     

}
#song{
   width:fit-content;
   height:fit-content;
   padding:0px;
   
   border-radius:30px;
   
}
#song img{
    width:200px;
    height:150px;
    border-radius:30px;
    padding:20px;
    object-fit: cover;
    object-position: center;
}